<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
 
    </head>
    <body>
        <ul class="pokemon">
            <%  pokemonArray.forEach(function(eachPokemon, index) { %>
                    <li><a href="http://localhost:3000/pokemon/<%=index%>"><%=eachPokemon.name%></a></li>
            <% }) %>
        </ul>
           
    </body>
</html>