<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
    <h1>Enter a Name and Image source for New Pokemon</h1>
        <form action="/pokemon" method="POST">
            <br><div>Name:  <input type="text" name="name"/></div><br>
            <div>Image: <input type="text" name="img" /></div>

            <br><button type="submit">Add New Pokemon</button>
        </form>

        
    </body>
</html>